#!/bin/sh
<% 
  auth_url = if node[:jenkins][:node][:auth].nil? 
    ''
  else
    "-jnlpCredentials #{node[:jenkins][:node][:auth]}"
  end
%>
exec 2>&1
cd <%= node[:jenkins][:node][:home] %>
exec chpst -u <%= node[:jenkins][:node][:user] %> \
java -jar <%= node[:jenkins][:node][:home] %>/slave.jar \
<%= auth_url %> -jnlpUrl <%= node[:jenkins][:server][:url] %>/computer/<%= node[:jenkins][:node][:name] %>/slave-agent.jnlp
